<div class="row">
  <div class="col-sm-12 col-md-9">

    <div class="card">
      <div class="card-header text-center">
        <strong>Submissions</strong>
      </div>

      <div class="list-group list-group-flush">
        <app-submission-review-list></app-submission-review-list>

        <div class="text-right">
          <button class="btn btn-primary btn-md m-3">Reject and Return to Facility</button>
          <button class="btn btn-success btn-md m-3">Accept and Submit to EIS</button>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-3">
    <app-notification-list></app-notification-list>
  </div>
</div>