<div class="card mb-3">
	<div class="card-header text-center">
		<strong>Emission Unit Information</strong>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6 col-md-2"><strong>Unit ID:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.unitIdentifier}}</div>
			<div class="col-sm-6 col-md-2"><strong>Unit Type Code:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.unitTypeCodeDescription}}</div>
			<div class="col-sm-6 col-md-2"><strong>Unit Status:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.operatingStatusCodeDescription}}</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6 col-md-2"><strong>Unit Description:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.description}}</div>
			<div class="col-sm-6 col-md-2"><strong>Unit Design Capacity UoM:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.unitOfMeasureCode.description}}</div>
			<div class="col-sm-6 col-md-2"><strong>Unit Status Year:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.statusYear}}</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6 col-md-2"><strong>UoM Description:</strong></div>
			<div class="col-sm-6 col-md-2">{{emissionsUnit.unitOfMeasureDescription}}</div>
		</div>
	</div>
</div>
