<div class="modal-header">
  <h4 class="modal-title">Submission Summary</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <app-report-summary-table [tableData]="tableData" [radiationData]="radiationData" [emissionsReportYear]="emissionsReportYear"></app-report-summary-table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="downloadSummaryReport()" [disabled]="!tableData">Download Report Summary</button>
  <button type="button" class="btn btn-primary" (click)="onClose()">Cancel</button>
</div>