<div *ngIf="facilitySite">
    <div class="row">
        <div class="col-sm-6" *ngIf="facilitySite.emissionsUnits">
            <div class="card  mb-3">
                <div class="card-header text-center">
                    <strong>Emissions Units</strong>
                </div>
                <div class="card-body">
                    <app-emissions-unit-table [tableData]="facilitySite.emissionsUnits"></app-emissions-unit-table>
                </div>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="facilitySite.releasePoints">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Release Points</strong>
                </div>
                <div class="card-body">
                    <app-release-point-table [tableData]="facilitySite.releasePoints"></app-release-point-table>
                </div>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="facilitySite.controls">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Control Devices</strong>
                </div>
                <div class="card-body">
                    <app-inventory-control-table [tableData]="facilitySite.controls"></app-inventory-control-table>
                </div>
            </div>
        </div>
    </div>
</div>