<link rel="stylesheet" href="https://dev.epacdx.net/ContentFramework/v3/js/third-party/fancybox-v2/jquery.fancybox.css">
<link rel="stylesheet" href="https://dev.epacdx.net/ContentFramework/v3/css/font-awesome-4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="//js.arcgis.com/3.13/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="//js.arcgis.com/3.13/esri/css/esri.css"> 
<link rel="stylesheet" href="https://dev.epacdx.net/ContentFramework/FRS Widget/FacilityManagementStyles.css">
<!--[if IE 8]> <link rel="stylesheet" href="https://dev.epacdx.net/ContentFramework/FacilityManagementStyles-ie8.css"> <![endif]-->

<div id="facility-widget"></div>


