<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body buttonCenter">
    {{message}}
    <br/>
    <button (click)="onContinue()" class="btn btn-primary btn-md m-3" id="modalConfirmBtn">{{confirmButtonText}}</button>
    <button *ngIf="!singleButton" (click)="onCancel()" class="btn btn-success btn-md m-3" id="modalCancelBtn">{{cancelButtonText}}</button>
</div>
<div class="modal-footer">
  <!-- <button *ngIf="!singleButton" (click)="activeModal.dismiss()" class="btn btn-success btn-md">{{cancelButtonText}}</button>
  <button (click)="onContinue()" class="btn btn-primary btn-md">{{confirmButtonText}}</button> -->
</div>