<div>

  <app-reviewer-nav></app-reviewer-nav>

  <div class="card mb-3">
    <div class="card-header text-center">
      <strong>EIS Transaction Information</strong>
    </div>
    <div class="card-body">
      <div class="mh-100 overflow-auto" *ngIf="tableData">
        <table class="table table-sm table-striped table-bordered">
          <thead class="thead-cef-medium">
            <tr>
              <th scope="col" sortable="createdDate" (sort)="onSort($event)">Date</th>
              <th scope="col" sortable="transactionId" (sort)="onSort($event)">Transaction ID</th>
              <th scope="col" sortable="eisSubmissionStatus" (sort)="onSort($event)">Transaction Type</th>
              <th scope="col" sortable="submitterName" (sort)="onSort($event)">User</th>
              <th scope="col">Attach Report</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>
                {{item.createdDate | date:'short'}}
              </td>
              <td>{{item.transactionId}}</td>
              <td>{{item.eisSubmissionStatus}}</td>
              <td>{{item.submitterName}}</td>
              <td>
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <ng-container *ngIf="item.attachment && item.attachment.id">
                      <a routerLink="."
                        (click)="download(item.attachment)">{{ item.attachment.fileName }}</a>
                    </ng-container>
                  </div>
                  <div>
                    <ng-container *ngIf="item.attachment && item.attachment.id">
                      <a routerLink="."
                        (click)="openDeleteModal(item.attachment.id, item.attachment.fileName)"
                        [attr.aria-label]="'delete attachment' + item.attachment.fileName">
                        <fa-icon icon="trash-alt"></fa-icon>
                      </a>
                      <span title="You must delete the existing attachment to upload another">
                        <button type="button" class="btn btn-link" disabled>
                          <fa-icon icon="upload"></fa-icon>
                        </button>
                      </span>
                    </ng-container>
                    <ng-container *ngIf="!(item.attachment && item.attachment.id)">
                      <a routerLink="." (click)="openAttachmentModal(item.id)"
                        attr.aria-label="Attach Feedback Report">
                        <fa-icon icon="upload"></fa-icon>
                      </a>
                    </ng-container>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="tableData.length"></ngb-pagination>
      </div>
    </div>
  </div>

</div>