<div class="m-3" *ngIf="facility">
    <div class="pb-2 border-bottom border-dark">
        <div class="container">
            <app-facility-info [facility]="facility"></app-facility-info>
        </div>
        <div class="pt-1" *ngIf="facilitySite && facilitySite.emissionsReport">
            <strong>{{facilitySite.emissionsReport.year}} Emissions Report</strong>
            <br/>
            <strong>Agency: {{facilitySite.emissionsReport.agencyCode}}</strong>
        </div>
    </div>
    <div class="mt-2" *ngIf="emissionsNavItems && facilityNavItems">
        <div class="nav-item d-flex flex-row justify-content-between" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}" #summaryRla="routerLinkActive">
            <div class="nav-link pl-0 pr-0">
                <a class="text-primary font-weight-bold text-left" [routerLinkActive]="'active text-success'"
                        [routerLinkActiveOptions]="{exact: true}" routerLink="{{facilitySite.emissionsReport.id}}/summary" 
                        >
                    <span>Report Summary
                          <fa-icon icon="angle-left" class="text-success p-1" [ngClass]="{'d-none': !summaryRla.isActive}" size="lg"></fa-icon>
                    </span>
                </a>
            </div>
        </div>

        <div class="nav-item d-flex flex-row justify-content-between" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}" #validationRla="routerLinkActive" 
                *ngIf="facilitySite.emissionsReport.status === 'IN_PROGRESS'">
            <div class="nav-link pl-0 pr-0">
                <a class="text-primary font-weight-bold text-left" [routerLinkActive]="'active text-success'"
                        [routerLinkActiveOptions]="{exact: true}" routerLink="{{facilitySite.emissionsReport.id}}/validation" 
                        >
                    <span>Quality Checks
                          <fa-icon icon="angle-left" class="text-success p-1" [ngClass]="{'d-none': !validationRla.isActive}" size="lg"></fa-icon>
                    </span>
                </a>
            </div>
        </div>

        <app-collapse-nav [desc]="'Facility Inventory'" [targetId]="'facilityInventoryCollapse'" [linkUrl]="facilitySite.emissionsReport.id" [navItems]="facilityNavItems" [paginate]="false"></app-collapse-nav>
        <app-collapse-nav [desc]="'Emissions Inventory'" [targetId]="'emissionUnitCollapse'" [linkUrl]="facilitySite.emissionsReport.id" [navItems]="emissionsNavItems" [paginate]="true"></app-collapse-nav>
    </div>
</div>
