<div class="nav-item  d-flex flex-row justify-content-between" [routerLinkActive]="'active'" 
		[routerLinkActiveOptions]="{exact: true}"  #rla="routerLinkActive">

	<div class="nav-link">
		<button class="btn btn-link text-primary font-weight-bold text-left small p-0" type="button"
				(click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed"
				[attr.aria-controls]="targetId" *ngIf="navItem.children.length">
			<app-collapse-icon [collapsed]='collapsed'></app-collapse-icon>
		</button>
		<a class=" text-primary font-weight-bold small" [routerLinkActive]="'active text-success'"
				routerLink="{{itemUrl}}" 
				>
			{{navItem.description}} 
		</a>
	</div>
	<fa-icon icon="angle-left" class="text-success p-1" [ngClass]="{'d-none': !rla.isActive}" size="lg"></fa-icon>
</div>
<div *ngIf="navItem.children.length" class="ml-2" [attr.id]="targetId" [ngbCollapse]="collapsed">
	<app-inner-nav [navItems]="navItem.children" [baseUrl]="itemUrl + '/'"></app-inner-nav>
</div>
