<div class="row">
  <div class="col-9">
    <div class="card">
      <div class="card-header text-center">
        <strong>My Facilities</strong>
      </div>
      <div class="list-group list-group-flush">
        <div *ngFor="let facility of facilities" class="list-group-item">
          <div class="d-flex flex-row justify-content-between">
            <div>
              <div class="row">
                <strong>{{facility.FacilityName}}</strong>
              </div>
              <div class="row small">
                <span>{{facility.Address}}</span>
              </div>
              <div class="row small">
                <span>{{facility.City}}, {{facility.State}} {{facility.ZipCode}}</span>
              </div>
            </div>
            <div>
              <button class="btn btn-primary m-1">Emissions Report</button>
              <button class="btn btn-primary m-1">Facility Information</button>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary m-3">Add Facility</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card">
      <div class="card-header text-center">
        <strong>My Notifications</strong>
      </div>
      <div class="card-body">
      
      </div>
    </div>
  </div>
</div>