<app-step-progress></app-step-progress>

<div *ngIf="emissionsUnit">
    <div class="row">
        <div class="col-sm-12">
	        <app-emission-unit-info [emissionsUnit]="emissionsUnit"></app-emission-unit-info>
        </div>
    </div>
   
    <div *ngIf="processes">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        <strong>Processes Associated with this Emissions Unit</strong>
                    </div>
                    <div class="card-body">
                        <app-emissions-process-table [tableData]="processes"></app-emissions-process-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>