<form [formGroup]="processForm" (ngSubmit)="onSubmit()">
    <div class="row pb-1">
        <div class="col-sm-6 col-md-2"><strong>Unit ID:</strong></div>
		<div class="col-sm-6 col-md-6">{{unitIdentifier}}</div>
    </div>
    <div class="row pb-1">
        <label for="processIdentifierInput" class="col-sm-6 col-md-2 col-form-label"><strong>Process ID:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" id="processIdentifierInput" formControlName="emissionsProcessIdentifier">
            <app-validation-message [control]="processForm.get('emissionsProcessIdentifier')"></app-validation-message>
        </div>
        <label for="processDescriptionInput" class="col-sm-6 col-md-2 col-form-label"><strong>Process Description:</strong></label>
        <div class="col-sm-6 col-md-6">
            <input type="text" class="form-control" id="processDescriptionInput" formControlName="description">
            <app-validation-message [control]="processForm.get('description')"></app-validation-message>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-10">
            <div class="validation-message" *ngIf="processForm.get('emissionsProcessIdentifier').errors?.invalidDuplicateProcessIdetifier">
                This Emissions Process Identifier already exists for this Emissions Unit, duplicates are not allowed.
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <label for="processStatusCodeSelect" class="col-sm-6 col-md-2 col-form-label"><strong>Process Status:</strong></label>
        <div class="col-sm-6 col-md-2">
            <select type="text" class="form-control" (ngModelChange)="onChange($event)" id="processStatusCodeSelect" formControlName="operatingStatusCode" [compareWith]="formUtils.compareCode">
                <option *ngFor="let opt of operatingStatusValues" [ngValue]="opt">{{opt.description}}</option>
            </select>
            <app-validation-message [control]="processForm.get('operatingStatusCode')"></app-validation-message>
        </div>
        <label for="processStatusYearInput" class="col-sm-6 col-md-2 col-form-label"><strong>Process Status Year:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" id="processStatusYearInput" formControlName="statusYear">
            <app-validation-message [control]="processForm.get('statusYear')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="processSccInput" class="col-sm-6 col-md-2 col-form-label"><strong>SCC:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" id="processSccInput" formControlName="sccCode" (change)="checkAircraftSCC()">
            <div class="validation-message" *ngIf="processForm.get('sccCode').errors?.invalidAircraftSCCCombination">
                Combination of SCC and Aircraft Engine Type Code must be unique within a facility.
            </div>
            <app-validation-message [control]="processForm.get('sccCode')"></app-validation-message>
        </div>
        <div class="col-sm-6 col-md-3">
            <button type="button" class="btn btn-success mr-2" (click)="openSccSearchModal()">Search for SCC Code</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-10">
            <div class="validation-warning" *ngIf="sccWarning?.length > 0">
                {{sccWarning}}
            </div>
            <div class="validation-message" *ngIf="processForm.get('sccCode').errors?.sccCodeRetired">
                {{processForm.controls?.sccCode?.value}} was retired in {{sccRetirementYear}}. Select an active SCC or an SCC with last inventory year greater than or equal to the current submission inventory year.
            </div>
            <div class="validation-message" *ngIf="processForm.get('sccCode').errors?.sccCodeInvalid">
                {{processForm.controls?.sccCode?.value}} is not a valid point source SCC. Please choose a valid code.
            </div>
        </div>
    </div>

    <div class="row pb-1">
        <label for="sccDescriptionInput" class="col-sm-6 col-md-2 col-form-label"><strong>SCC Description:</strong></label>
        <div class="col-sm-6 col-md-10">
            <textarea rows="3" class="form-control" id="sccDescriptionInput" formControlName="sccDescription"></textarea>
            <app-validation-message [control]="processForm.get('sccDescription')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1" *ngIf="aircraftSCCcheck">
        <label for="processAircraftCodeInput" class="col-sm-6 col-md-2 col-form-label"><strong>Aircraft Engine Code:</strong></label>
        <div class="col-sm-6 col-md-10">
            <select type="text" class="form-control" id="processAircraftCodeInput" formControlName="aircraftEngineTypeCode">
                <option [ngValue]="null"></option>
                <option *ngIf="invalidAircraftSCC" disabled [selected]="process?.aircraftEngineTypeCode?.code">{{process?.aircraftEngineTypeCode?.faaAircraftType}}&nbsp;-&nbsp;{{process?.aircraftEngineTypeCode?.engine}}</option>
                <option [selected]="opt.code === process?.aircraftEngineTypeCode?.code" *ngFor="let opt of aircraftEngineTypeValue" [ngValue]="opt">
                    {{opt?.faaAircraftType}}&nbsp;-&nbsp;{{opt?.engine}}
                </option>
            </select>
            <app-validation-message [control]="processForm.controls.aircraftEngineTypeCode"></app-validation-message>
            <div class="validation-message" *ngIf="processForm.get('sccCode').errors?.invalidAircraftSCCCombination">
                Combination of SCC and Aircraft Engine Type Code must be unique within a facility.
            </div>
            <div class="validation-message" *ngIf="processForm.get('aircraftEngineTypeCode').errors?.invalidAircraftSCC">
                The Aircraft Engine Code must match the SCC Code of the process to which it is assigned.
            </div>
        </div>
    </div>

    <div class="row pb-1">
        <label for="processCommentsInput" class="col-sm-6 col-md-2 col-form-label"><strong>Comments:</strong></label>
        <div class="col-sm-6 col-md-10">
            <textarea rows="3" class="form-control" maxlength="400" style="height:100%;" id="processCommentsInput" formControlName="comments"></textarea>
            <app-validation-message [control]="processForm.get('comments')"></app-validation-message>
        </div>
    </div>

</form>