<div class="card">
  <div class="card-header text-center">
    <strong>My Notifications</strong>
  </div>
  <div class="card-body">
	<tbody>
    <div *ngIf="currentUser?.role === 'Reviewer'">
      <strong>{{currentYear}} Status Report</strong>
      <br>  
      <br>
      <tr>
        <td style="text-align: center">
          <span class="fa-layers fa-2x" style="vertical-align: middle;">
            <fa-icon [icon]="['fas', 'circle']" style="color:#ff1a1a;"></fa-icon>
            <span class="fa-layers-text" style="color: white;font-size: 40%;align-content: center;">{{inProgressCount}}</span>
          </span>
          <strong style="padding-left: 10px;font-size: 110%;vertical-align: middle;">In Progress</strong>
        </td>
      </tr>
      <br>
      <tr>
        <td style="text-align: center">
          <span class="fa-layers fa-2x" style="vertical-align: middle;">
            <fa-icon [icon]="['fas', 'circle']" style="color:#ffb90f;"></fa-icon>
            <span class="fa-layers-text" style="color: white;font-size: 40%;align-content: center;">{{submittedCount}}</span>
          </span>
          <strong style="padding-left: 10px;font-size: 110%;vertical-align: middle;">Pending Review</strong>
        </td>
      </tr>
      <br>
      <tr>
        <td style="text-align: center">
          <span class="fa-layers fa-2x" style="vertical-align: middle;" >
            <fa-icon [icon]="['fas', 'circle']" style="color:#209c98;"></fa-icon>
            <span class="fa-layers-text" style="color: white;font-size: 40%;align-content: center;">{{approvedCount}}</span>
          </span>
          <strong style="padding-left: 10px;font-size: 110%;vertical-align: middle;">Accepted</strong>
        </td>
      </tr>
    </div>
	</tbody>
  </div>
</div>