<div class="row">
  <div class="col-sm-12 col-md-9">

    <div class="card">
      <div class="card-header text-center">
        <strong>Submissions</strong>
      </div>

      <div class="list-group list-group-flush">
        <br>
        <div class="row">
          <strong style="margin-left: 25px;">Report Status:</strong>
          <select style="width: 150px; margin-left: 10px;" class="select-option" #mySelect (change)="onStatusSelected(mySelect.value)">
              <option value="SUBMITTED">Submitted</option>
              <option value="IN_PROGRESS">In Progress</option>
              <option value="APPROVED">Accepted</option>
          </select>
          <strong style="margin-left: 25px;">Report Year:</strong>
          <select id="select" style="width: 150px; margin-left: 10px;" class="select-option" #yearSelect (change)="onYearSelected(yearSelect.value, mySelect.value)">
              <option value="currentYear" selected="selected">Current Year</option>
              <option value="allYears">All Years</option>
          </select>
        </div>
        <br>
        <app-submission-review-list [hideSelectColumn]="hideButtons" [tableData]="submissions"></app-submission-review-list>
        <div class="text-right">
          <button *ngIf="!hideButtons" class="btn btn-primary btn-md m-3" (click)="onReject()">Reject and Return to Facility</button>
          <button *ngIf="!hideButtons" class="btn btn-success btn-md m-3" (click)="onApprove()">Accept and Submit to EIS</button>
          <div class="validation-message p-3" *ngIf="invalidSelection">
            At least one submission must be selected.
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-3">
    <app-notification-list></app-notification-list>
  </div>
</div>