<div class="row">
  <div class="col-sm-12 col-md-9">

    <div class="card">
      <div class="card-header text-center">
        <strong>Submissions</strong>
      </div>

      <div class="list-group list-group-flush">
        <app-submission-review-list [tableData]="submissions"></app-submission-review-list>

        <div class="text-right">
          <button class="btn btn-primary btn-md m-3" (click)="onReject()">Reject and Return to Facility</button>
          <button class="btn btn-success btn-md m-3" (click)="onApprove()">Accept and Submit to EIS</button>
          <div class="validation-message p-3" *ngIf="invalidSelection">
            At least one submission must be selected.
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-3">
    <app-notification-list></app-notification-list>
  </div>
</div>