<div *ngIf="properties">
  <form [formGroup]="propertyForm">
    <div class="row pb-2" *ngFor="let prop of properties">
      <div class="col-sm-6 col-lg-3">
        <label for="{{prop.name + 'Input'}}" class="ml-1 col-form-label">
          <strong>{{prop.name}}:</strong>
        </label>
      </div>
      <div class="col-sm-6 col-lg-3">
        <input type="text" class="form-control" id="{{prop.name + 'Input'}}" [formControlName]="prop.name">
        <app-validation-message [control]="propertyForm.get([prop.name])"></app-validation-message>
      </div>
    </div>

    <div class="float-right mb-3">
      <button type="button" class="btn btn-success" (click)="onSubmit()">Update Properties</button>
    </div>
  </form>
</div>