<div class="pt-3 pb-3">
  Instructional text will appear here. My agency code is '{{ userContext.user.agencyCode }}'.
</div>

<form>

  <div class="mh-100 overflow-auto">
    <table class="table table-sm table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col" sortable="facilityName" (sort)="onSort($event)">Facility Name</th>
        <th scope="col" sortable="airsId" (sort)="onSort($event)">Facility ID</th>
        <th scope="col" sortable="operatingStatus" (sort)="onSort($event)">Operating Status</th>
        <th scope="col" sortable="industry" (sort)="onSort($event)">Industry</th>
        <th scope="col" sortable="lastSubmittalYear" (sort)="onSort($event)">Last Submittal Year</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submission of tableData">
        <th scope="row"><input type="checkbox"></th>
        <td><ngb-highlight [result]="submission.facilityName"></ngb-highlight></td>
        <td><ngb-highlight [result]="submission.airsId"></ngb-highlight></td>
        <td><ngb-highlight [result]="submission.operatingStatus"></ngb-highlight></td>
        <td><ngb-highlight [result]="submission.industry"></ngb-highlight></td>
        <td><ngb-highlight [result]="submission.lastSubmittalYear"></ngb-highlight></td>
        <td><button class="btn btn-primary btn-sm">Summary</button><span class="pr-2"> </span> <button class="btn btn-primary btn-sm">View Report</button></td>
      </tr>
      </tbody>
    </table>
  </div>

</form>
