<form [formGroup]="controlPathAssignmentForm" >
    <div class="modal-header">
        <h4 class="modal-title w-100"><strong>Control Path Assignment</strong></h4>
    </div>

    <div class="modal-body">
            <div class="row ml-1">
                <label><b>Enter the Sequence Number</b></label>
            </div>
            <div class="row ml-1">
                    <input class="mb-1" formControlName="sequenceNumber" id="sequenceNumberInput">
            </div>
            <div class="row ml-1 mb-2">
                <app-validation-message [control]="controlPathAssignmentForm.get('sequenceNumber')"></app-validation-message>
            </div>
            <div class="row ml-1 mb-1">
                <strong>You must select either a Control or a Control Path:</strong>
            </div>
            <div class ="row ml-1">
                <label><b>Control</b></label>
                <label style="margin-left:256px;"><b>Control Path</b></label>
            </div>
            <div class="row ml-1">
                <select style="width: 300px;" type="text" id="controlSelect" class="form-control mr-2" formControlName="control">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let c of controls" [ngValue]="c">
                        {{c.identifier}}
                    </option>
                </select>
                <app-validation-message [control]="controlPathAssignmentForm.get('control')"></app-validation-message>
                <select style="width: 300px;" type="text" id="controlPathSelect" class="form-control" formControlName="controlPathChild">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let cp of controlPaths" [ngValue]="cp">
                        {{cp.pathId}}
                    </option>
                </select>
                <span class="validation-message" [hidden]="!controlPathAssignmentForm.hasError('controlAndPathSelected')" >You can only select a control OR a path, not both</span>
                <span class="validation-message" [hidden]="!controlPathAssignmentForm.hasError('controlAndPathNotSelected') && (controlPathAssignmentForm.dirty || controlPathAssignmentForm.touched)" >You must select either a control or a path</span>
                <app-validation-message [control]="controlPathAssignmentForm.get('controlPathChild')"></app-validation-message>
            </div>
            <div class="row ml-1 mt-2">
                <label><b>Enter the Apportionment Percentage</b></label>
            </div>
            <div class="ml-1">
                <input type="text" maxlength="3" formControlName="percentApportionment" id="percentInput">
                <app-validation-message [control]="controlPathAssignmentForm.get('percentApportionment')"></app-validation-message>
            </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Save</button>
        <button type="button" class="btn btn-primary mr-2" (click)="onClose()">Cancel</button>
    </div>
</form> 