<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<p>The <span th:text="${reportingYear}" /> emissions report for <span th:text="${facilityName}" /> has been rejected by the SLT agency. </p>
	<p th:if="${!#strings.isEmpty(comments) || !#strings.isEmpty(attachment)}">
		<strong>Additional Comments:</strong><br/>
		<span th:text="${comments}"></span>
		<span th:if="${!#strings.isEmpty(attachment)}">
			Please review the document <strong><span th:text="${attachment}"/></strong> attached in the <span th:text="${reportingYear}" /> Emissions Report - Report History table for additional information.<br/>
		</span>
	</p>
</body>
</html>