
<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="control.identifier" (sort)="onSort($event)">Control ID</th>
      <th scope="col" sortable="control.description" (sort)="onSort($event)">Control Description</th>
      <th scope="col" sortable="controlPath.controlType" (sort)="onSort($event)">Connection Type</th>
      <th scope="col" sortable="controlPath.controlOrder" (sort)="onSort($event)">Control Order</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData">
        <td><a routerLink="{{baseUrl}}/{{item.control.id}}">{{item.control.identifier}}</a></td>
        <td>{{item.control.description}}</td>
        <td>{{item.controlPath.controlType}}</td>
        <td>{{item.controlPath.controlOrder}}</td>
        <td><a routerLink="."><fa-icon icon="trash-alt"></fa-icon></a></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a routerLink="."><fa-icon [icon]="['fa', 'plus']"></fa-icon></a></td>
      </tr>
    </tbody>
  </table>
</div>
