<form [formGroup]="facilitySiteForm">
    <div class="row pb-1">
        <label for="altSiteIdentifierInput" class="col-sm-6 col-md-2 col-form-label"><strong>Agency Facility ID:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" maxlength="30" id="altSiteIdentifierInput" formControlName="altSiteIdentifier" [value]="facilitySiteForm.value.altSiteIdentifier" readonly>
        </div>
        <label for="latitudeInput" class="col-sm-6 col-md-2 col-form-label"><strong>Latitude:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" maxlength="10" id="latitudeInput" formControlName="latitude" readonly>
            <app-validation-message [control]="facilitySiteForm.get('latitude')"></app-validation-message>
        </div>
        <label for="facilityStatusCodeSelect" class="col-sm-6 col-md-2 col-form-label"><strong>Operating Status:</strong></label>
        <div class="col-sm-6 col-md-2">
            <select type="text" class="form-control" (ngModelChange)="onChange($event)" id="facilityStatusCodeSelect" formControlName="operatingStatusCode" [compareWith]="formUtils.compareCode">
                <option *ngFor="let opt of operatingStatusValues" [ngValue]="opt">{{opt?.description}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.get('operatingStatusCode')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="facilityNameInput" class="col-sm-6 col-md-2 col-form-label"><strong>Facility Name:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" maxlength="80" id="facilityNameInput" formControlName="name" readonly>
            <app-validation-message [control]="facilitySiteForm.get('name')"></app-validation-message>
        </div>
        <label for="longitudeInput" class="col-sm-6 col-md-2 col-form-label"><strong>Longitude:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" maxlength="11" id="longitudeInput" formControlName="longitude" readonly>
            <app-validation-message [control]="facilitySiteForm.get('longitude')"></app-validation-message>
        </div>
        <label for="statusYearInput" class="col-sm-6 col-md-2 col-form-label"><strong>Status Year:</strong></label>
        <div class="col-sm-6 col-md-2">
            <input type="text" class="form-control" maxlength="4" id="statusYearInput" formControlName="statusYear">
            <app-validation-message [control]="facilitySiteForm.get('statusYear')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="facilitySourceTypeCodeSelect" class="col-sm-6 col-md-2 col-form-label"><strong>Facility Source Type:</strong></label>
        <div class="col-sm-6 col-md-2">
            <select type="text" class="form-control" id="facilitySourceTypeCodeSelect" formControlName="facilitySourceTypeCode" [compareWith]="formUtils.compareCode">
                <option *ngFor="let opt of facilitySourceTypeValues" [ngValue]="opt">{{opt?.description}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.get('facilitySourceTypeCode')"></app-validation-message>
        </div>
        <label for="facilityCategoryCodeSelect" class="col-sm-6 col-md-2 col-form-label"><strong>Facility Category Code:</strong></label>
        <div class="col-sm-6 col-md-2">
            <select type="text" class="form-control" id="facilityCategoryCodeSelect" formControlName="facilityCategoryCode" [compareWith]="formUtils.compareCode">
                <option *ngFor="let opt of facilityCategoryCodeValues" [ngValue]="opt">{{opt?.name}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.get('facilityCategoryCode')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="streetAddressInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Facility Address:</strong></label>
        <div class="col-sm-8 col-lg-10">
            <input type="text" class="form-control"  maxlength="100" id="streetAddressInput" formControlName="streetAddress" readonly>
            <app-validation-message [control]="facilitySiteForm.get('streetAddress')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="cityInput" class="col-sm-4 col-lg-2 col-form-label"><strong>City:</strong></label>
        <div class="col-sm-6 col-lg-2">
            <input type="text" maxlength="60" class="form-control" id="city" formControlName="city" readonly>
            <app-validation-message [control]="facilitySiteForm.get('city')"></app-validation-message>
        </div>
        <label for="stateCodeSelect" class="col-sm-4 col-lg-2 col-form-label"><strong>State:</strong></label>
        <div class="col-sm-6 col-lg-2">
            <select type="text" class="form-control" id="stateCodeSelect" formControlName="stateCode" [compareWith]="formUtils.compareCode" disabled>
                <option *ngFor="let opt of fipsStateCode" [ngValue]="opt">{{opt?.uspsCode}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.controls.stateCode"></app-validation-message>
        </div>
        <label for="postalCodeInput" class="col-sm-4 col-lg-2 col-form-label"><strong>ZIP code:</strong></label>
        <div class="col-sm-2 col-lg-2">
            <input type="text" maxlength="10" class="form-control" id="postalCodeInput" formControlName="postalCode" readonly>
            <app-validation-message [control]="facilitySiteForm.get('postalCode')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="mailingStreetAddressInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Mailing Street Address:</strong></label>
        <div class="col-sm-8 col-lg-10">
            <input type="text" maxlength="100" class="form-control" id="mailingStreetAddressInput" formControlName="mailingStreetAddress">
            <app-validation-message [control]="facilitySiteForm.get('mailingStreetAddress')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="mailingCityInput" class="col-sm-4 col-lg-2 col-form-label"><strong>City:</strong></label>
        <div class="col-sm-6 col-lg-2">
            <input type="text" maxlength="60" class="form-control" id="mailingCityInput" formControlName="mailingCity">
            <app-validation-message [control]="facilitySiteForm.get('mailingCity')"></app-validation-message>
            <div class="validation-message"  *ngIf="facilitySiteForm.getError('mailingStreetAddress')">
                This field is required for mailing address.
            </div>
        </div>
        <label for="mailingStateCodeSelect" class="col-sm-4 col-lg-2 col-form-label"><strong>State:</strong></label>
        <div class="col-sm-6 col-lg-2">
            <select type="text" class="form-control" id="mailingStateCodeSelect" formControlName="mailingStateCode" [compareWith]="formUtils.compareCode">
                <option [ngValue]="null"></option>
                <option *ngFor="let opt of fipsStateCode" [ngValue]="opt">{{opt?.uspsCode}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.controls.mailingStateCode"></app-validation-message>
            <div class="validation-message"  *ngIf="facilitySiteForm.getError('mailingStreetAddress')">
                This field is required for mailing address.
            </div>
        </div>
        <label for="mailingPostalCodeInput" class="col-sm-4 col-lg-2 col-form-label"><strong>ZIP code:</strong></label>
        <div class="col-sm-6 col-lg-2">
            <input type="text" class="form-control" maxlength="10" id="mailingPostalCodeInput" formControlName="mailingPostalCode">
            <app-validation-message [control]="facilitySiteForm.get('mailingPostalCode')"></app-validation-message>
            <div class="validation-message"  *ngIf="facilitySiteForm.getError('mailingStreetAddress')">
                This field is required for mailing address.
            </div>
        </div>
    </div>

    <div class="row pb-2">
        <label for="countySelect" class="col-sm-4 col-lg-2 col-form-label"><strong>County:</strong></label>
        <div class="col-sm-8 col-lg-2">
            <select class="form-control" id="countySelect" formControlName="countyCode" [compareWith]="formUtils.compareCode">
                <option [ngValue]="null"></option>
                <option *ngFor="let opt of counties" [ngValue]="opt">{{opt?.name}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.get('countyCode')"></app-validation-message>
        </div>

        <label for="facilityBIACodeSelect" class="col-sm-4 col-md-2 col-form-label"><strong>BIA Code:</strong></label>
        <div class="col-sm-6 col-md-6">
            <select type="text" class="form-control" id="facilityStatusBIASelect" formControlName="tribalCode" [compareWith]="formUtils.compareCode">
                <option [ngValue]="null"></option>
                <option *ngFor="let opt of tribalCodeValues" [ngValue]="opt">{{opt?.description}}</option>
            </select>
            <app-validation-message [control]="facilitySiteForm.get('tribalCode')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="descriptionInput" class="col-sm-6 col-md-2 col-form-label"><strong>Description:</strong></label>
        <div class="col-sm-6 col-md-10">
            <input type="text" class="form-control" maxlength="100" id="descriptionInput" formControlName="description">
            <app-validation-message [control]="facilitySiteForm.get('description')"></app-validation-message>
        </div>
    </div>

    <div class="row pb-1">
        <label for="facilityCommentsInput" class="col-sm-6 col-md-2 col-form-label"><strong>Comments:</strong></label>
        <div class="col-sm-6 col-md-10">
            <textarea rows="3" class="form-control" maxlength="400" style="height:100%;" id="facilityCommentsInput" formControlName="comments"></textarea>
            <app-validation-message [control]="facilitySiteForm.get('comments')"></app-validation-message>
        </div>
    </div>

    
</form>