
<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="sequenceNumber" (sort)="onSort($event)">Sequence Number</th>
      <th scope="col">Assignment</th>
      <th scope="col" sortable="percentApportionment" (sort)="onSort($event)">% Apportionment</th>
      <ng-container *ngIf="!readOnlyMode">
        <th scope="col"></th>
        <th scope="col"></th>
      </ng-container>
     
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of tableData">
      <td>{{item.sequenceNumber}}</td>
      <td>{{item?.control?.identifier}}{{item?.controlPathChild?.pathId}}</td>
      <td>{{item.percentApportionment}}</td>
      <ng-container *ngIf="!readOnlyMode">
        <td><a routerLink="." (click)="openEditModal(item)" [attr.aria-label]="'edit control path assignment sequence number' + item?.sequenceNumber">
          <fa-icon style="color:#209c98" [icon]="['fa', 'edit']"></fa-icon>
        </a></td>
        <td><a routerLink="." (click)="openDeleteModal(item?.control?.identifier, item.id, item?.controlPathChild?.pathId)"
          [attr.aria-label]="'delete control path assignment sequence number' + item?.sequenceNumber">
          <fa-icon icon="trash-alt"></fa-icon>
        </a></td>
      </ng-container>
     
    </tr>
      <ng-container *ngIf="!readOnlyMode">
        <tr>
          <td colspan="4"></td>
          <td><button style="color:#209c98;border:none;background-color: Transparent;float: right;" (click)="openCreateModal()" aria-label="add control path assignment"><fa-icon [icon]="['fa', 'plus']"></fa-icon></button></td> 
        </tr>
      </ng-container> 
    </tbody>
  </table>
</div>