<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Process Information</strong>
                </div>
                <div class="card-body">
                    <app-edit-process-info-panel></app-edit-process-info-panel>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Operating Details</strong>
                </div>
                <div class="card-body">
                    <app-edit-process-operating-detail-panel></app-edit-process-operating-detail-panel>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Reporting Period</strong>
                </div>
                <div class="card-body">
                    <app-edit-process-reporting-period-panel></app-edit-process-reporting-period-panel>
                </div>
            </div>
            
        </div>
    </div>

    <div class="float-right pb-3 pr-3">
        <button type="button" class="btn btn-primary mr-2" routerLink="../..">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!isValid()">Save</button>
    </div>

</div>