<div *ngIf="user && user.isAdmin()" class="container-fluid flex-fill">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-2 mt-2">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="reviewer">Submission Review</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle id="statAndReportsDropdown" role="button">
            Statistics and Reports
          </a>
          <div ngbDropdownMenu aria-labelledby="statAndReportsDropdown">
            <a ngbDropdownItem routerLink="admin/userFeedback" [routerLinkActive]="'active'">User Feedback Report</a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle id="comToolsDropdown" role="button">
            User Communication Tools
          </a>
          <div ngbDropdownMenu aria-labelledby="comToolsDropdown">
            <a ngbDropdownItem routerLink="admin/announcement" [routerLinkActive]="'active'">Announcement Banner</a>
            <!-- <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Facility Notifications</a> -->
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="admin/properties">Application Properties</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="upload">JSON Upload</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
