<div class="validation-message" *ngIf="control.errors && (control.dirty || control.touched)">
  <div *ngIf="control.errors?.required">
      This field is required.
  </div>

  <div *ngIf="control.errors?.min">
      Value cannot be lower than {{control.errors.min.min}}.
  </div>

  <div *ngIf="control.errors?.max">
      Value cannot be higher than {{control.errors.max.max}}.
  </div>

  <div *ngIf="control.errors?.pattern">
      Value is not in the correct format.
  </div>

  <div *ngIf="control.errors?.wholeNumber">
      Value must be a whole number.
  </div>

  <div *ngIf="control.errors?.number">
      Value must be a number.
  </div>
</div>