<div class="validation-message" *ngIf="control.errors && (control.dirty || control.touched)">
  <div *ngIf="control.errors?.required">
      This field is required.
  </div>

  <div *ngIf="control.errors?.min">
      Value cannot be lower than {{control.errors.min.min}}.
  </div>

  <div *ngIf="control.errors?.max">
      Value cannot be higher than {{control.errors.max.max}}.
  </div>

  <div *ngIf="control.errors?.maxLength">
      Cannot exceed {{control.errors.maxLength.requiredLength}} characters.
  </div>

  <div *ngIf="control.errors?.pattern">
      Value is not in the correct format.

      <div *ngIf="control.errors?.pattern.requiredPattern === '^[0-9]{1,5}([\.][0-9]{1,3})?$'">
        Maxium precision of 3 decimal places.
      </div>

      <div *ngIf="control.errors?.pattern.requiredPattern === '^[0-9]{1,8}([\.][0-9]{1,8})?$'">
        Maxium precision of 8 decimal places.
      </div>

      <div *ngIf="control.errors?.pattern.requiredPattern === '^-?[0-9]{1,3}([\.][0-9]{1,6})?$'">
        Value must be in decimal degrees up to the sixth decimal place.
      </div>
  </div>

  <div *ngIf="control.errors?.wholeNumber">
      Value must be a whole number.
  </div>

  <div *ngIf="control.errors?.number">
      Value must be a number.
  </div>

  <div *ngIf="control.errors?.email">
      Email must be a valid email address.
  </div>
</div>