<table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
        <th scope="col">Control</th>
        <th scope="col">Description</th>
        <th scope="col">Control Path</th>
    </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of tableItems">
            <ng-container *ngFor="let assignment of item.assignments">
                <tr *ngIf="assignment.control">
                    <td><a routerLink="{{baseUrl}}/{{assignment.control.id}}" [attr.aria-label]="'control assignment' + assignment?.control?.identifier">{{assignment.control.identifier}}</a></td>
                    <td>{{assignment.control.description}}</td>
                    <td><a routerLink="{{controlPathUrl}}/{{item.id}}" [attr.aria-label]="'control path' + item?.pathId">{{item.pathId}}</a></td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
