<table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Control ID</th>
        <th scope="col">Description</th>
        <th scope="col" sortable="sequenceNumber" (sort)="onSort($event)">Sequence Number</th>
        <ng-container *ngIf="!readOnlyMode">
            <th scope="col"></th>
        </ng-container>
    </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of tableData">
            <tr *ngIf="item.control">
                <td>Control</td>
                <td><a routerLink="{{baseUrl}}/{{item.control.id}}">{{item.control.identifier}}</a></td>
                <td>{{item.control.description}}</td>
                <td>{{item.sequenceNumber}}</td>
                <ng-container *ngIf="!readOnlyMode">
                    <td><a routerLink="."><fa-icon icon="trash-alt"></fa-icon></a></td>
                </ng-container>
            </tr>
            <tr *ngIf="item.controlPathChild">
                <td>Path</td>
                <td></td>
                <td>{{item.controlPathChild.description}}</td>
                <td>{{item.sequenceNumber}}</td>
                <ng-container *ngIf="!readOnlyMode">
                    <td><a routerLink="."><fa-icon icon="trash-alt"></fa-icon></a></td>
                </ng-container>
            </tr>
        </ng-container>
        <ng-container *ngIf="!readOnlyMode">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a routerLink="."><fa-icon [icon]="['fa', 'plus']"></fa-icon></a></td>
            </tr>
        </ng-container>
    </tbody>
</table>
