<div class="modal-header">
  <h4 class="modal-title">Your Session is About to Expire!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Your session is about to expire.</p>
  <p>You will be logged out in {{timeLeftText}}</p>
</div>
<div class="modal-footer">
  <button type="button" (click)="onClose()" class="btn btn-success">Logout</button>
  <button type="button" (click)="onSubmit()" class="btn btn-primary">Stay Connected</button>
</div>