<configuration debug="true">
    <springProfile name="dev,unit_test,default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss,SSS} %-5p [%c] %m%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <appender name="TIME_BASED_FILE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.home}/cef-web/cef-web.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/cef-web/cef-web.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss,SSS} %-5p [%c] %m%n</pattern>
            </encoder>
        </appender>
        <root level="warn">
            <appender-ref ref="TIME_BASED_FILE"/>
        </root>
    </springProfile>
    <logger name="gov.epa.cdx" level="debug"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.security" level="debug"/>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="info"/>
    <logger name="org.hibernate.SQL" level="info"/>
    <logger name="org.flywaydb" level="info"/>
    <logger name="org.thymeleaf" level="info"/>
</configuration>