<form [formGroup]="naicsForm">
  <div class="modal-header">
    <h4 class="modal-title w-100">Select an NAICS Code to add to the facility</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      Select NAICS Code: 
      <select id="facilityNAICS" class="form-control" formControlName="selectedNaics">
        <option *ngFor="let opt of facilityNaicsCode" [ngValue]="opt">{{opt?.code}}&nbsp;-&nbsp;{{opt?.description}}</option>
      </select>
      <app-validation-message [control]="naicsForm.get('selectedNaics')"></app-validation-message>
    
      <div class="checkbox">
        Make this Primary NAICS for facility?
        <input id="primaryFlag" type="checkbox" [checked]="primaryFlag" (change)="setPrimary()">
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </div>
</form>