<div class="modal-header">
  <h4 class="modal-title">Emission Information</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="emission">
    <div class="row pb-2" *ngIf="process && reportingPeriod">
      <div class="col-sm-6 col-md-2"><strong>Process ID:</strong></div>
      <div class="col-sm-6 col-md-2">{{process.emissionsProcessIdentifier}}</div>
      <div class="col-sm-6 col-md-2"><strong>Reporting Period:</strong></div>
      <div class="col-sm-6 col-md-2">{{reportingPeriod.reportingPeriodTypeCode.shortName}}</div>
      <div class="col-sm-6 col-md-2"><strong>Operating Status:</strong></div>
      <div class="col-sm-6 col-md-2">{{process.operatingStatusCodeDescription}}</div>
    </div>

    <div class="row pb-5" *ngIf="reportingPeriod">
      <div class="col-sm-6 col-md-2"><strong>Calculation Parameter:</strong></div>
      <div class="col-sm-6 col-md-2">{{reportingPeriod.calculationParameterTypeCode.description}}</div>
      <div class="col-sm-6 col-md-2"><strong>Calculation Value:</strong></div>
      <div class="col-sm-6 col-md-2">{{reportingPeriod.calculationParameterValue}}</div>
      <div class="col-sm-6 col-md-2"><strong>Calculation UoM:</strong></div>
      <div class="col-sm-6 col-md-2">{{reportingPeriod.calculationParameterUom.description}}</div>
    </div>

    <form [formGroup]="emissionForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="pollutantNameInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Pollutant Name:</strong></label>
            <div class="col-sm-8 col-lg-3">
                <input type="text" class="form-control" id="pollutantNameInput" formControlName="pollutantName">
            </div>
            <label for="pollutantCodeInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Pollutant Code:</strong></label>
            <div class="col-sm-8 col-lg-5">
                <input type="text" class="form-control" id="pollutantCodeInput" formControlName="pollutantCode">
            </div>
        </div>

        <div class="row pb-2">
            <label for="pollutantCasIdInput" class="col-sm-4 col-lg-2 col-form-label"><strong>CAS ID:</strong></label>
            <div class="col-sm-8 col-lg-3">
            <input type="text" class="form-control" id="pollutantCasIdInput" formControlName="pollutantCasId">
            </div>
            <label for="emissionsCalcMethodCodeInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Calculation Method:</strong></label>
            <div class="col-sm-8 col-lg-5">
            <input type="text" class="form-control" id="emissionsCalcMethodCodeInput" formControlName="emissionsCalcMethodCode">
            </div>
        </div>

        <div class="row pb-2">
            <label for="emissionFactorInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Emission Factor:</strong></label>
            <div class="col-sm-8 col-lg-3">
            <input type="number" class="form-control" id="emissionFactorInput" formControlName="emissionsFactor">
            </div>
            <label for="emissionsFactorTextInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Emissions Factor Description:</strong></label>
            <div class="col-sm-8 col-lg-5">
            <textarea class="form-control" id="emissionsFactorTextInput" formControlName="emissionsFactorText"></textarea>
            </div>
        </div>

        <div class="row pb-2">
            <label for="totalEmissionsInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Total Emissions:</strong></label>
            <div class="col-sm-8 col-lg-3">
            <input type="number" class="form-control" id="totalEmissionsInput" formControlName="totalEmissions">
            </div>
            <label for="emissionsUomCodeInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Emissions UoM:</strong></label>
            <div class="col-sm-8 col-lg-5">
            <input type="text" class="form-control" id="emissionsUomCodeInput" formControlName="emissionsUomCode">
            </div>
        </div>

        <div class="row pb-2">
            <label for="emissionsNumeratorInput" class="col-sm-4 col-lg-5 col-form-label"><strong>Emission Factor Numerator UoM:</strong></label>
            <div class="col-sm-8 col-lg-7">
            <input type="text" class="form-control" id="emissionsNumeratorInput" formControlName="emissionsNumeratorUom">
            </div>
        </div>

        <div class="row pb-2">
            <label for="emissionsDenominatorInput" class="col-sm-4 col-lg-5 col-form-label"><strong>Emission Factor Denominator UoM:</strong></label>
            <div class="col-sm-8 col-lg-7   ">
            <input type="text" class="form-control" id="emissionsDenominatorInput" formControlName="emissionsDenominatorUom">
            </div>
        </div>

        <div class="row">
            <label for="emissionCommentsInput" class="col-sm-4 col-lg-2 col-form-label"><strong>Comments:</strong></label>
            <div class="col-sm-8 col-lg-10">
            <textarea rows="3" class="form-control" style="height:100%;" id="emissionCommentsInput" formControlName="comments"></textarea>
            </div>
        </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onReset()">Reset</button>
  <button type="button" class="btn btn-primary" (click)="onClose()">Cancel</button>
  <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!editable || !emissionForm.valid">Save</button>
</div>