<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="releasePointIdentifier" (sort)="onSort($event)">Release Point ID</th>
      <th scope="col" sortable="releasePointTypeCode" (sort)="onSort($event)">Release Type</th>
      <th scope="col" sortable="percent" (sort)="onSort($event)">Avg. % Emissions</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of tableData">
      <td><a routerLink="{{baseUrl}}/release/{{item.id}}">{{item.releasePointIdentifier}}</a></td>
      <td>{{item.releasePointTypeCode}}</td>
      <td>{{item.percent}}%</td>
      <td><a href="#"><fa-icon icon="trash-alt"></fa-icon></a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="#"><fa-icon [icon]="['fa', 'plus']"></fa-icon></a></td>
    </tr>
    </tbody>
  </table>
</div>
