<div class="modal-header">
  <h4 class="modal-title">Delete</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body buttonCenter">
    {{message}}
    <br/>
    <button (click)="onContinue()" class="btn btn-primary btn-md m-3">Delete</button>
    <button (click)="activeModal.dismiss()" class="btn btn-success btn-md m-3">Cancel</button>
</div>
<div class="modal-footer">
</div>