<div class="card mb-3">
    <div class="card-header text-center">
        <strong>Facility Information</strong>
    </div>
    <div *ngIf="facilitySite" class="card-body">
        <div class="row  pb-2">
            <div class="col-sm-6 col-md-2"><strong>Facility EIS ID:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.eisProgramId}}</div>
            <div class="col-sm-6 col-md-2"><strong>Latitude:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.latitude}}</div>
            <div class="col-sm-6 col-md-2"><strong>Operating Status:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.operatingStatusCode.description}}</div>
        </div>
        
        <div class="row  pb-2">
            <div class="col-sm-6 col-md-2"><strong>Facility Name:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.name}}</div>
            <div class="col-sm-6 col-md-2"><strong>Longitude:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.longitude}}</div>
            <div class="col-sm-6 col-md-2"><strong>BIA Code:</strong></div>
            <div class="col-sm-6 col-md-2"></div>
        </div>
        
        <div class="row  pb-2">
            <div class="col-sm-6 col-md-2"><strong>Facility Address:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.streetAddress}}<br/>{{facilitySite.city}}, {{facilitySite.stateCode}}&nbsp;{{facilitySite.postalCode}}</div>
            <div class="col-sm-6 col-md-2"><strong>Mailing Address:</strong></div>
            <div class="col-sm-6 col-md-2">
                <span *ngIf="facilitySite.mailingStreetAddress">
                    {{facilitySite.mailingStreetAddress}}<br/>{{facilitySite.mailingCity}}, {{facilitySite.mailingStateCode}}&nbsp;{{facilitySite.mailingPostalCode}}
                </span>
            </div>
            <div class="col-sm-6 col-md-2"><strong>County:</strong></div>
            <div class="col-sm-6 col-md-2">{{facilitySite.county}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-2"><strong>NAICS Code:</strong></div>
            <div class="col-sm-6 col-md-10">
                <span *ngFor="let naics of naicsCodes">
                        {{naics.code}}&nbsp;-&nbsp;{{naics.description}}<span *ngIf="naics.primaryFlag">&nbsp;(<strong>Primary</strong>)</span><br/>
                </span>
            </div>
        </div>

    </div>
</div>

<div *ngIf="facilitySite">
    <div class="card mb-3" *ngFor="let contact of facilitySite.contacts">
        <div class="card-header text-center">
            <strong>Facility Contact Information</strong>
            <div class="float-right" *ngIf="!editDetails && !readOnlyMode">
                <a routerLink="." (click)="openDeleteModal(contact.firstName, contact.lastName, contact.id, contact.facilitySiteId)">
                    <fa-icon icon="trash-alt"></fa-icon>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Contact Type:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.type.description}}</div>
                <div class="col-sm-6 col-md-2"><strong>Phone Number:</strong></div>
                <div class="col-sm-6 col-md-4">{{contact.phone | phoneNumber}}</div>
            </div>
            
            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Contact Name:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.firstName}} {{contact.lastName}}</div>
                <div class="col-sm-6 col-md-2"><strong>Email Address:</strong></div>
                <div class="col-sm-6 col-md-4">{{contact.email}}</div>
            </div>
            
            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Contact Address:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.streetAddress}}<br/>{{contact.city}}, {{contact.stateCode}}&nbsp;{{contact.postalCode}}</div>
                <div class="col-sm-6 col-md-2"><strong>Mailing Address:</strong></div>
                <div class="col-sm-6 col-md-2">
                    <span *ngIf="contact.mailingStreetAddress">
                        {{contact.mailingStreetAddress}}<br/>{{contact.mailingCity}}, {{contact.mailingStateCode}}&nbsp;{{contact.mailingPostalCode}}
                    </span>
                </div>
            <div class="col-sm-6 col-md-2"><strong>County:</strong></div>
            <div class="col-sm-6 col-md-2">{{contact.county}}</div>
            </div>
        </div>
    </div>
</div>