
<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="pollutant.pollutantName" (sort)="onSort($event)">Pollutant Name</th>
      <th scope="col" sortable="pollutant.pollutantCode" (sort)="onSort($event)">Code</th>
      <th scope="col" sortable="pollutant.pollutantCasId" (sort)="onSort($event)">CAS ID</th>
      <ng-container *ngIf="!readOnlyMode">
        <th scope="col"></th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of tableData">
      <td><a [routerLink]="[baseUrl, item.id]">{{item.pollutant.pollutantName}}</a></td>
      <td>{{item.pollutant.pollutantCode}}</td>
      <td>{{item.pollutant.pollutantCasId}}</td>
      <ng-container *ngIf="!readOnlyMode">
        <td><a routerLink="." (click)="openDeleteModal(item.pollutant.pollutantName, item.id)" aria-label="delete emission pollutant"><fa-icon icon="trash-alt"></fa-icon></a></td>
      </ng-container>
    </tr>
    <ng-container *ngIf="!readOnlyMode">
      <tr>
        <td colspan="3"></td>
        <td><a [routerLink]="[baseUrl]" aria-label="add emission pollutant"><fa-icon [icon]="['fa', 'plus']"></fa-icon></a></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
