<div>

  <app-reviewer-nav></app-reviewer-nav>

  <div class="row">
    <div class="col-4">
      <app-master-facility-table [tableData]="records" (facilitySelected)="onFacilitySelected($event)"></app-master-facility-table>
    </div>
    <div class="col-8">
      <div class="card mb-3" *ngIf="selectedFacility">
        <div class="card-header text-center">
            <strong>Facility Details</strong>
            <div class="float-right" *ngIf="!editInfo">
                <button type="button" class="btn btn-success" aria-label="edit facility details" (click)="onEditClick(selectedFacility)">Edit</button>
            </div>
        </div>
        <div class="card-body" *ngIf="!editInfo">
          <app-master-facility-info [facility]="selectedFacility"></app-master-facility-info>
        </div>
        <div class="card-body" *ngIf="editInfo">
            <app-edit-master-facility-info [facility]="selectedFacility"></app-edit-master-facility-info>
            <div class="float-right pb-3 pr-3" *ngIf="selectedFacility">
                <button type="button" class="btn btn-primary mr-2" (click)="setEditInfo(false)">Cancel</button>
                <button type="submit" class="btn btn-success" (click)="updateMasterFacilityRecord()">Save</button>
            </div>
        </div>
    </div>
  </div>

</div>
