<div>

  <app-reviewer-nav></app-reviewer-nav>

  <div class="row">
    <div class="col-3">
      <app-master-facility-table [tableData]="records" (facilitySelected)="onFacilitySelected($event)"></app-master-facility-table>
    </div>
    <div class="col-9">
      <div class="card mb-3" *ngIf="selectedFacility">
        <div class="card-header text-center">
            <strong>Facility Details</strong>
        </div>
        <div class="card-body">
          <app-master-facility-info [facility]="selectedFacility"></app-master-facility-info>
        </div>
    </div>
  </div>

</div>
