<div class="nav-item d-flex flex-row justify-content-between" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}" #rla="routerLinkActive">

    <div class="nav-link pl-0 pr-0">
        <button class="btn btn-link text-primary font-weight-bold text-left p-0" type="button"
                (click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed"
                [attr.aria-controls]="targetId">
            <app-collapse-icon [collapsed]='collapsed'></app-collapse-icon>
        </button>
        <a class=" text-primary font-weight-bold" [routerLinkActive]="'active text-success'"
                [routerLinkActiveOptions]="{exact: true}" routerLink="{{linkUrl}}" 
                >
            <span>
            {{desc}}<fa-icon icon="angle-left" class="text-success p-1" [ngClass]="{'d-none': !rla.isActive}" size="lg"></fa-icon>
            </span> 
        </a>
    </div>
    
</div>
<div class="row ml-2">
	<div [attr.id]="targetId" [ngbCollapse]="collapsed">
	    <app-sidebar-inner-nav [navItems]="navItems"></app-sidebar-inner-nav>
	</div>
</div>
