<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!(user?.isAdmin()) && 
          !(user?.isReviewer()) &&
          ((url === '/helpPage') || (url === '/error') || (url === '/review'))">
        <u><a class="nav-link menu_links" (click)="goToMyFacilities()" id="bcMyFacilities">My Facilities</a></u>
      </li>
      <li *ngFor="let breadcrumb of breadcrumbs; index as i" class="nav-item">
        <a *ngIf="i<breadcrumbs.length-1 && (url !== '/helpPage') && (url !== '/error') && (url !== '/reviewer') && (url !== '/review') " class="nav-link"  [href]="[breadcrumb.url]" [attr.data-cy]="'bc' + breadcrumb.label">
          <span *ngIf="i!=0">&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <u>{{ breadcrumb.label }}</u>
        </a>
        <span *ngIf="i==breadcrumbs.length-1 && (url !== '/helpPage') && (url !== '/error') && (url !== '/reviewer') && (url !== '/review')" class="nav-link">
          <span *ngIf="i!=0">&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ breadcrumb.label }}
        </span>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
        <li>
          <u><a class="nav-link menu_links" (click)="goToHelpPage()">Help</a></u>
        </li>
    </ul>
  </div>
</nav>
