<div class="card">
	<div class="card-header text-center">
		<strong>Emissions Reports</strong>
	</div>
	<div class="list-group list-group-flush">
		<div *ngFor="let report of reports" class="list-group-item">
			<div class="d-flex flex-row justify-content-between">
				<div>{{report.year}} Report</div>

				<div class="pipe-list">
                    <a [routerLink]="['/facility', report.eisProgramId, 'report', 'upload', report.year]"
					   class="text-dark font-weight-bold pipe-item"
					   [attr.aria-label]="'upload'+ report.year +'report'"
                       *ngIf="isOneOf(report.status, ['NEW', 'IN_PROGRESS', 'VALIDATED'])">
                        <span>Upload Report</span>
                    </a>

                    <a href="javascript:void(0);"
					   class="text-dark font-weight-bold pipe-item"
					   [attr.aria-label]="'create new'+ report.year +'report'"
						(click)="createNewReport()" *ngIf="report.status === 'NEW'">Create New Report</a>

					<a [routerLink]="['/facility', report.eisProgramId, 'report', report.id, 'summary']"
						class="text-dark font-weight-bold pipe-item"
						[attr.aria-label]="'continue'+ report.year +'report'"
						*ngIf="isOneOf(report.status, ['IN_PROGRESS', 'VALIDATED'])">Continue</a>

					<a href="#" class="text-dark font-weight-bold pipe-item"
						*ngIf="report.status === 'VALIDATED' && userContext.user.role === 'Preparer'">Notify NEI Certifier</a>

                    <a [routerLink]="['/facility', report.eisProgramId, 'report', report.id, 'summary']"
					   class="text-dark font-weight-bold pipe-item"
					   [attr.aria-label]="'view'+ report.year +'report'"
                       *ngIf="isOneOf(report.status, ['APPROVED', 'SUBMITTED'])">View</a>

					<a [routerLink]="['.']"
						class="text-dark font-weight-bold pipe-item"
						[attr.aria-label]="'reopen'+ report.year +'report'"
						(click)="reopenReport(report)"
						*ngIf="isOneOf(report.status, ['SUBMITTED'])">Reopen Report</a>

					<a href="#" class="text-dark font-weight-bold pipe-item"
						*ngIf="report.status === 'VALIDATED' && userContext.user.role === 'NEI Certifier'">Certify</a>

					<a href="#" class="text-dark font-weight-bold pipe-item"
						*ngIf="report.status === 'VALIDATED' && userContext.user.role === 'NEI Certifier'">Return to Preparer</a>

					<a href="#" class="text-dark font-weight-bold pipe-item"
						*ngIf="report.status === 'VALIDATED' && userContext.user.role === 'Preparer'">Cancel Nomination</a>

					<a href="#" class="text-dark font-weight-bold pipe-item"
						[attr.aria-label]="'delete'+ report.year +'report'"
						*ngIf="report.status !== 'NEW'"
						[routerLink]="['.']" (click)="openDeleteModal(report.eisProgramId, report.id, report.year)">Delete</a>
				</div>
				<ng-template #FailedToCreateMessageBox>
					<div class="modal-header bg-warning">
						<h4 class="modal-title">Create Emissions Report Error</h4>
						<button type="button" class="close" aria-label="Close" (click)="onFailedToCreateCloseClick()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Unable to create emissions report. No previous report and no FRS data available.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" (click)="onFailedToCreateCloseClick()">OK</button>
					</div>
				</ng-template>
			</div>
		</div>

	</div>
</div>
