<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Control Path Information</strong>
                </div>
                <div class="card-body">
                    <app-edit-control-path-info-panel></app-edit-control-path-info-panel>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right pb-3 pr-3">
        <button type="button" class="btn btn-primary mr-2" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Save</button>
    </div>
</div>