
<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="identifier" (sort)="onSort($event)">Identifier</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Component</th>
      <th scope="col" sortable="typeDesc" (sort)="onSort($event)">Type</th>
      <!-- Commented out for pilot 
        <ng-container *ngIf="!readOnlyMode">
          <th scope="col"></th>
        </ng-container>
      -->
    </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of tableData">
        <tr>
          <td>{{item.identifier}}</td>
          <td><a routerLink="{{baseUrl}}/{{item.type}}/{{item.id}}">{{item.description}}</a></td>
          <td>{{item.typeDesc}}</td>
          <!-- Commented out for pilot 
            <ng-container *ngIf="!readOnlyMode">
              <td><a routerLink="."><fa-icon icon="trash-alt"></fa-icon></a></td>
            </ng-container>
          -->
        </tr>
      </ng-container>
      <!-- Commented out for pilot 
        <ng-container *ngIf="!readOnlyMode">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a routerLink="."><fa-icon [icon]="['fa', 'plus']"></fa-icon></a></td> 
          </tr>
        </ng-container> 
      -->
    </tbody>
    
  </table>
</div>
