
<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="identifier" (sort)="onSort($event)"><fa-icon class="mt-2 ml-1 mr-1" title="The identifier for the control device." [icon]="['fas', 'question-circle']"></fa-icon>Identifier</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Component</th>
      <th scope="col" sortable="typeDesc" (sort)="onSort($event)">Type</th>
    </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of tableData">
        <tr>
          <td><a [attr.aria-label]="item?.typeDesc + 'control device assignment' + item?.identifier" routerLink="{{baseUrl}}/{{item.type}}/{{item.id}}">{{item.identifier}}</a></td>
          <td>{{item.description}}</td>
          <td>{{item.typeDesc}}</td>
        </tr>
      </ng-container>
    </tbody>
    
  </table>
</div>
