<app-step-progress></app-step-progress>

<div *ngIf="process">
    <div class="row">
        <div class="col-sm-12">
        
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Process Information</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-2"><strong>Process ID:</strong></div>
                        <div class="col-sm-6 col-md-2">{{process.emissionsProcessIdentifier}}</div>
                        <div class="col-sm-6 col-md-2"><strong>SCC:</strong></div>
                        <div class="col-sm-6 col-md-2">{{process.sccCode}}</div>
                        <div class="col-sm-6 col-md-2"><strong>Process Status:</strong></div>
                        <div class="col-sm-6 col-md-2">{{process.operatingStatusCodeDescription}}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6 col-md-2"><strong>Process Description:</strong></div>
                        <div class="col-sm-6 col-md-2">{{process.description}}</div>
                        <div class="col-sm-6 col-md-2"><strong>Aircraft Engine Code:</strong></div>
                        <div class="col-sm-6 col-md-2">{{process.aircraftEngineTypeCodeCode}}</div>
                        <div class="col-sm-6 col-md-2"><strong>Process Status Year:</strong></div>
                        <div class="col-sm-6 col-md-2">{{process.statusYear}}</div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>

</div>