<form [formGroup]="controlPathForm">
	<div class="row pb-1">
        <label for="controlPathIdInput" class="col-sm-6 col-md-2 col-form-label"><strong>Path ID:</strong></label>
        <div class="col-sm-6 col-md-4">
            <input class="form-control" maxlength="20" id="controlPathIdInput" formControlName="pathId">
            <app-validation-message [control]="controlPathForm.get('pathId')"></app-validation-message>
		</div>
	</div>
	<div class="row pb-1">
		<label for="descriptionInput" class="col-sm-6 col-md-2 col-form-label"><strong>Path Description:</strong></label>
        <div class="col-sm-6 col-md-4">
            <textarea rows="3" class="form-control" maxlength="200" id="descriptionInput" formControlName="description"></textarea>
            <app-validation-message [control]="controlPathForm.get('description')"></app-validation-message>
		</div>
	</div>
</form>